*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.result {
  width: 711px;
}

.result__video-container {
  position: relative;
  margin-top: 78px;
  margin-bottom: 16px;
}
.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:focus {
  outline: none;
}


.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline: 1px;
}


.search-form__label-text {
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 211px;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
}


.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;

  align-content: center;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
}

.search-form__chekbox:checked + .search-form__pseudo-checkbox {
  display: flex;
  width: 15px;
  height: 15px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: #fff;
}

.button {
  cursor: pointer;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}


.button:focus {
  outline: none;
}

.button:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}


.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73.5px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  margin-top: 28px;
  max-height: 298px;
  overflow: auto;
}

.content__list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 34px;
}

.content__list-item:last-child {
  margin-bottom: 0px;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.content__list-item:active {
  background-color: #545050;
}

..content__list-item:focus {
  outline: none;
}

.content__list-item:has(:focus-visible) {
  border: 1px solid #fff;
}

.content__card-link {
  margin: 2px;
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  width: 394px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap:10px ;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__video-card-title {
  width: 200px;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.more-button {
  padding: 6px 146.5px;
  white-space: nowrap;
}
